/* HTML5 backwards compatibility */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}

html, body {
	margin: 0 0;
	padding: 0 0;
}

#content {
	float: left;
	width: 70%;
}

footer {
	float: right;
	width: 30%;
}

.eof {
	clear: both;
}

article {
	margin: 0 1em 1em 1em;
}

/* ------------------- HEADER ------------------------- */

body > header {
	margin: 1em;
	height: 8em;
	font-family: sans-serif;
	position: relative;
	background-color: rgba(0,0,255,0.3);
}

body > header h1 {
	vertical-align: top;
	font-size: 2em;
	margin: 0;
	padding: 0;
}
body > header img {
	width: 4em;
	height: 4em;
}

body > header .nav {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 4em;
	line-height: 4em;
	display: block;
	margin: 0;
	padding: 0;
}
body > header .nav li {
	display: block;
	float: left;
}

body > header .nav a {
	display: block;
	padding: 0 1.2em;
	border-left: 1px dashed black;
	font-size: 2em;
	text-decoration: none;
	color: blue !important;
}

body > header .nav a:hover {
	background-color: rgba(255,255,255,0.5);
}

