@charset "UTF-8";
/* HTML5 backwards compatibility */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/*
		 ____       _          _  __ _   
		/ ___|  ___| |__  _ __(_)/ _| |_ 
		\___ \ / __| '_ \| '__| | |_| __|
		 ___) | (__| | | | |  | |  _| |_ 
		|____/ \___|_| |_|_|  |_|_|  \__|
		                                 
*/
/*
		 _____          _                
		|  ___|_ _ _ __| |__   ___ _ __  
		| |_ / _` | '__| '_ \ / _ \ '_ \ 
		|  _| (_| | |  | |_) |  __/ | | |
		|_|  \__,_|_|  |_.__/ \___|_| |_|
		                                 
*/
/*
		 _____ _                           _       
		| ____| | ___ _ __ ___   ___ _ __ | |_ ___ 
		|  _| | |/ _ \ '_ ` _ \ / _ \ '_ \| __/ _ \
		| |___| |  __/ | | | | |  __/ | | | ||  __/
		|_____|_|\___|_| |_| |_|\___|_| |_|\__\___|
		                                           
*/
a {
  text-decoration: none;
  color: #4e90cd; }
  a:visited {
    color: #4e90cd; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
  font-size: 1em; }

code {
  /* DejaVu Sans Mono für Nutzer freier Software,
   * Monaco für MacOSX-User. (Die ist übrigens hübsch!)
   * Windows-User haben zu 35% DejaVu installiert; der Rest
   * verfügt einfach über keine für die Darstellung von Code
   * geeignete Schrift. Wahrscheinlich sehen die dann Lucida
   * Typewriter oder etwas ähnlich hässliches. */
  font-family: DejaVu Sans Mono, Monaco, monospace;
  line-height: 1em; }

body {
  /* DejaVu Sans für die Nutzer freier Software,
   * Verdana für die armen Windows- und MacOSX-User,
   * sans-serif als Fallback für Untote und Zeitreisende. */
  font-family: DejaVu Sans, Verdana, sans-serif;
  line-height: 1.4em;
  min-width: 42em;
  max-width: 80em;
  margin: 0 auto;
  padding: 1em; }
  body > #content {
    float: left;
    width: 70%; }
  body > footer {
    float: right;
    width: 30%; }

body > header {
  height: 8em;
  position: relative;
  margin-bottom: 1em;
  outline: 1px solid #4e90cd;
  border-bottom: 0.4em solid #4e90cd; }
  body > header .logo {
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 8em; }
    body > header .logo img {
      width: 1em;
      height: 1em; }
  body > header h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 2.7em;
    font-weight: normal;
    line-height: 1.3em;
    text-align: center; }
  body > header .nav {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: 4em;
    line-height: 4em; }
    body > header .nav li {
      display: block;
      float: left; }
    body > header .nav a {
      display: block;
      padding: 0 1.2em;
      font-size: 1.2em;
      color: #4e90cd; }
      body > header .nav a:hover {
        background-color: #edf4fa; }

body > footer h1 {
  font-size: 1.3em;
  margin-bottom: 0.3em; }
body > footer > * {
  margin-left: 0.5em;
  margin-bottom: 1em; }
body > footer .raumstatus {
  padding: 0.5em;
  outline: 1px solid #bacdde;
  background-color: #eef2f6; }
  body > footer .raumstatus p {
    margin: 0; }
body > footer nav h2 {
  display: none; }
body > footer .banner a {
  display: block; }
  body > footer .banner a img {
    width: 100%; }

#content p {
  text-align: justify; }
  #content p img {
    width: 100%; }
#content pre {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 0.4em solid #bacdde; }
#content > * {
  margin-right: 0.5em;
  margin-bottom: 2em; }
#content .intro, #content .error {
  padding: 0.5em; }
  #content .intro header, #content .error header {
    margin-bottom: 0.3em; }
    #content .intro header h1, #content .error header h1 {
      font-size: 1.5em;
      line-height: 1.4em; }
#content .error {
  outline: 1px solid red;
  background-color: #ffbebe; }
#content .intro {
  outline: 1px solid #bacdde;
  background-color: #eef2f6; }
#content .blogteaser header {
  margin-bottom: 0.3em;
  border-bottom: 1px dotted #bacdde; }
  #content .blogteaser header h1 {
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: bold; }
  #content .blogteaser header date {
    float: right; }
#content .blogteaser .readfull {
  display: block;
  text-align: right; }
#content .blogpost h1 {
  font-weight: bold;
  margin: 1em 0 1em; }
#content .blogpost h2, #content .blogpost h3, #content .blogpost h4, #content .blogpost h5 {
  margin: 2em 0 1em;
  font-weight: bold; }
#content .blogpost h1 {
  font-size: 1.80em;
  line-height: 1.4em; }
#content .blogpost h2 {
  font-size: 1.50em;
  line-height: 1.4em; }
#content .blogpost h3 {
  font-size: 1.30em;
  line-height: 1.4em; }
#content .blogpost h4 {
  font-size: 1.15em;
  line-height: 1.4em; }
#content .blogpost h5 {
  font-size: 1.00em;
  line-height: 1.4em; }
#content .blogpost header {
  margin-bottom: 2em; }
  #content .blogpost header date {
    display: block;
    text-align: right; }
#content .blogpost footer {
  margin-top: 2em; }
  #content .blogpost footer date {
    display: block;
    text-align: right; }
