<!DOCTYPE html>
<html>
	<head>
		<meta encoding="utf-8">
		<title>{% block title %}⠠⠵{% endblock %}
			&ndash; Embassy of Nerdistan</title>
		<link rel="stylesheet" type="text/css"
			href="/static/main.css">
		<link rel="alternative" type="application/atom+xml"
			href="{% url feed-atom %}"
			title="Alle Blogeinträge (Atom)">
		<link rel="alternative" type="application/rss+xml"
			href="{% url feed-rss %}"
			title="Alle Blogeinträge (RSS)">
	</head>
	<body>
		<header>
			<h1>
				<img src="/static/Embassy.png"
						width=200 height=200>
				Embassy of Nerdistan
			</h1>
			<ul class="nav">
				<li><a href="/">Start</a></li>
				<li><a href="/about/">Über</a></li>
				<li><a href="/images/">Bilder</a></li>
			</ul>
		</header>
		<div id="content">
			{% block content %}
			(Nothing to see here)
			{% endblock %}
		</div>
		<footer>
			{% include "footer.html" %}
		</footer>
		<div id="eof"></div>
	</body>
</html>
