<!DOCTYPE html>
<html>
	<head>
		<meta encoding="utf-8">
		<title>{% block title %}⠠⠵{% endblock %}
			&ndash; Embassy of Nerdistan</title>
		<link rel="stylesheet" type="text/css"
			href="/static/main.css">
		<link rel="alternative" type="application/atom+xml"
			href="{% url feed-atom %}"
			title="Alle Blogeinträge (Atom)">
		<link rel="alternative" type="application/rss+xml"
			href="{% url feed-rss %}"
			title="Alle Blogeinträge (RSS)">
	</head>
	<body>
		<header>
			<h1>
				<img src="/static/Embassy.png"
						width=200 height=200>
				Embassy of Nerdistan
			</h1>
			<ul class="nav">
				<li><a href="/">Start</a></li>
				<li><a href="/about/">Über</a></li>
				<li><a href="/images/">Bilder</a></li>
			</ul>
		</header>
		<div id="content">
			{% block content %}
			(Nothing to see here)
			{% endblock %}
		</div>
		<footer>
			<div>
				<h3>Raumstatus</h3>
				{% if raumstatus.open %}
				Der Raum ist offen.
				{% else %}
				Der Raum ist zu.
				{% endif %}
			</div>

			<div>
				<h3>Twitter</h3>
				<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
					ihr uns abends und am Wochenende im
					2. Stock.</p>
				<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
					ihr uns abends und am Wochenende im
					2. Stock.</p>
			</div>

			<div>
				<h3>Unwichtiger Krams</h3>
				<ul>
					<li><a href="https://ccchb.de/wiki/Impressum">
							Impressum</a></li>
					<li><a href="{% url admin:index %}">
							Admin</a></li>
					<li><a href="{% url feed-atom %}">
							Atom-Feed</a></li>
					<li><a href="{% url feed-rss %}">
							RSS-Feed</a></li>
				</ul>
			</div>
		</footer>
		<div id="eof"></div>
	</body>
</html>
