<aside class="raumstatus">
	<h1>Raumstatus</h1>
	<p>
		{% if roomstatus.door == None %}
		Der Tuerstatus-Sensor ist grade mal wieder ausgefallen.
		Dafür bitten wir ganz herzlich um Verständnis.
		{% elif roomstatus.door %}
		Die Embassy ist geöffnet. Komm doch auch vorbei!
		{% else %}
		Die Embassy ist geschlossen.
		{% endif %}
		<br>
		{% if roomstatus.leases == None %}
		Der Gerätezähler im Embassy-Netzwerk ist grade ausgefallen.
		Wahrscheinlich ist das Embassy-Netzwerk auch ausgefallen.
		Ganz bestimmt kümmert sich schon jemand um eine Lösung.
		{% elif roomstatus.leases == 1 %}
		Im Embassy-Netzwerk ist zur Zeit ungefähr
		ein Gerät angemeldet.
		{% else %}
		Im Embassy-Netzwerk sind zur Zeit ungefähr
		{{ roomstatus.leases }} Geräte angemeldet.
		{% endif %}
	</p>
</aside>
{% comment %}
<aside>
	<h1>Twitter</h1>
	<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
		ihr uns abends und am Wochenende im
		2. Stock.</p>
	<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
		ihr uns abends und am Wochenende im
		2. Stock.</p>
</aside>
{% endcomment %}
<aside class="banner">
	<h1>Werbung</h1>
	<a href="https://ohm2013.org/">
		<img src="http://ccchb.de/w/images/e/ea/Ohm2013-banner.png">
	</a>
</aside>
<nav>
	<h1>Navigation</h1>
	<ul>
		<li><a href="{% url embassyweb.views.index %}">
				Home</a></li>
		<li><a href='{% url blog.views.show_one "about" %}'>
				Über</a></li>
	</ul>
	<h2>Feeds</h2>
	<ul>
		<li><a href="{% url feed-atom %}">
				Atom-Feed</a></li>
		<li><a href="{% url feed-rss %}">
				RSS-Feed</a></li>
	</ul>
	<h2>Metakrams</h2>
	<ul>
		<li><a href="https://ccchb.de/wiki/Impressum">
				Impressum</a></li>
		<li><a href="{% url admin:index %}">
				Admin</a></li>
	</ul>
</nav>

