<aside class="raumstatus">
	<h1>Raumstatus</h1>
	<p>
		{% if roomstatus.door == None %}
		Der Raumstatus ist mir unbekannt.
		{% elif roomstatus.door %}
		Der Raum ist geöffnet. Komm doch auch vorbei!
		{% else %}
		Der Raum ist geschlossen.
		{% endif %}
	</p>
</aside>
{% comment %}
<aside>
	<h1>Twitter</h1>
	<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
		ihr uns abends und am Wochenende im
		2. Stock.</p>
	<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
		ihr uns abends und am Wochenende im
		2. Stock.</p>
</aside>
{% endcomment %}
<aside class="banner">
	<h1>Werbung</h1>
	<a href="https://ohm2013.org/">
		<img src="https://ccchb.de/w/images/e/ea/Ohm2013-banner.png">
	</a>
</aside>
<nav>
	<h1>Navigation</h1>
	<ul>
		<li><a href="{% url embassyweb.views.index %}">
				Home</a></li>
		<li><a href='{% url blog.views.show_one "about" %}'>
				Über</a></li>
	</ul>
	<h2>Feeds</h2>
	<ul>
		<li><a href="{% url feed-atom %}">
				Atom-Feed</a></li>
		<li><a href="{% url feed-rss %}">
				RSS-Feed</a></li>
	</ul>
	<h2>Metakrams</h2>
	<ul>
		<li><a href="https://ccchb.de/wiki/Impressum">
				Impressum</a></li>
		<li><a href="{% url admin:index %}">
				Admin</a></li>
	</ul>
</nav>

