<div>
	<h2>Raumstatus</h2>
	{% if raumstatus.open %}
	Der Raum ist offen.
	{% else %}
	Der Raum ist zu.
	{% endif %}
</div>

<div>
	<h2>Twitter</h2>
	<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
		ihr uns abends und am Wochenende im
		2. Stock.</p>
	<p>Im Gebäude der AUCOOP (Weberstr. 18) findet
		ihr uns abends und am Wochenende im
		2. Stock.</p>
</div>

<div>
	<h2>Zweitnavigation</h2>
	<ul>
		<li><a href="https://ccchb.de/wiki/Impressum">
				Impressum</a></li>
		<li><a href="{% url admin:index %}">
				Admin</a></li>
		<li><a href="{% url feed-atom %}">
				Atom-Feed</a></li>
		<li><a href="{% url feed-rss %}">
				RSS-Feed</a></li>
	</ul>
</div>

