{% extends "base.html" %}

{% block content %}
<section class="intro">
	<header>
		<h1>Basteln, Hacken, Schnacken</h1>
	</header>
	In der Embassy of Nerdistan bieten wir heimatlosen Hackern und Nerds
	Asyl, einen Ort zum Basteln, Löten, Hacken, Abhängen und Schnacken.
	Im Gebäude der <a href="http://www.openstreetmap.org/?mlat=53.072123&mlon=8.821818&zoom=18">
	AUCOOP (Weberstr. 18)</a> findet ihr uns abends und am
	Wochenende im 2. Stock.
</section>

{% for post in posts %}
{% include "blog/post_teaser.html" with post=post only %}
{% endfor %}

{% endblock %}
