{% extends "base.html" %}

{% block content %}
<article>
	In der Embassy of Nerdistan bieten wir heimatlosen Hackern und Nerds
	Asyl, einen Ort zum Basteln, Löten, Hacken, Abhängen und Schnacken.
	Im Gebäude der AUCOOP (Weberstr. 18) findet ihr uns abends und am
	Wochenende im 2. Stock.
</article>

{% for post in posts %}
<article>
	<header>
		{% include "blog/post_header.html" with post=post only %}
	</header>
	{% include "blog/post_body.html" with post=post only %}
</article>
{% endfor %}
{% endblock %}
